/* Enter your custom styles here *//* Enter your custom styles here */
.DetailHBoxParts {
    overflow: hidden !important;
    height: auto !important;
    width: 100% !important;
    display: inline-block !important;
	padding: 2px !important;
}
.bExport {
    margin-right: 1em;
    float: right;
}
.DetailHBoxParts > .sapMFlexBoxBGTransparent {
	float: left !important;
	margin: 0 2% 2% 0 !important;
}

.MasterWantedLabel {
    margin: 14px 0 0 5px;
}

.MasterNameLabel {
    font-size: 1.3rem;
    margin: 14px 0 0 5px;
}

.ButtonCheckItem {
	float: right;
	margin: 5px;
}

.pad5Proz {
	margin: 0 5%;
}
.lmargtop {
	margin-top: 5px;
	margin-bottom: 5px;
}